$primaryColor: (
    'main-background': hsl(233, 47%, 7%),
    'card-background': hsl(244, 38%, 16%),
    'accent': hsl(277, 64%, 61%)
);

$neutralColor: (
    'main-heading': hsl(0, 0%, 100%),
    'stat': hsl(0, 0%, 100%),
    'main-paragraph': hsla(0, 0%, 100%, 0.75),
    'stat-headings': hsla(0, 0%, 100%, 0.6),
);

$font-family: (
    'Inter': Inter,
    'Lexend Deca': Lexend Deca, 

);

$border-radius: 6px;

body {
    height: 100vh;
    background-color: map-get($primaryColor , 'main-background' );
    display: flex;
}

.card {
    margin: auto;
    display: flex;
    width: 80%;
    height: 446px;
    border-radius: $border-radius;
    background-color: map-get($primaryColor , 'card-background' );

    & &-info {
        width: 40%;
        padding: 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & &-image {
        width: 60%;
        border-radius: 0 $border-radius $border-radius 0;
        background-image: url('../images/image-header-desktop.jpg');
        height: 446px;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    & &-image::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: map-get($primaryColor , 'accent' );
        border-radius: 0 $border-radius $border-radius 0;
        opacity: .6;
    }
    & &-title {
        font-size: 2rem;
        color: map-get($neutralColor , 'main-heading' );
        font-family: map-get($font-family , 'Inter' );
        font-weight: 700;

        .violet {
            color: map-get($primaryColor , 'accent' );
        }
    }

    & &-description {
        line-height: 30px;
        color: map-get($neutralColor , 'main-paragraph' );
        font-family: map-get($font-family , 'Inter' );
    }

    & &-info-number {
        display: flex;
        justify-content: space-between;

        .card-info-number-companies,
        .card-info-number-templates,
        .card-info-number-queries {
            font-family: map-get($font-family , 'Inter' );
            p:nth-child(1) {
                color: map-get($neutralColor , 'stat' );
                font-size: 1.3em;
                font-weight: 700;
                margin-bottom: 0;
            }
            .uppercase {
                text-transform: uppercase;
                color: map-get($neutralColor , 'stat-headings' );
                letter-spacing: 1px;
                font-size: .7em;
            }
        }

    }

}

@media only screen and (max-width: 1200px) {
    .card {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        margin: 50px auto;
        flex-direction: column-reverse;
        height: 1500px;
        width: 90%;

        & &-info {
            padding: 3em;
            height: 40%;
            width: auto;
            text-align: center;
        }

        & &-info-number {
            flex-direction: column;
        }

        & &-image {
        border-radius: $border-radius $border-radius 0 0;
        background-image: url('../images/image-header-mobile.jpg');
        width: 100%;
        height: 60%;
        }
    }
    
}

@media screen and (max-width: 576px) {
    .card {
        height: 1600px;
    }
}